* {
  box-sizing: border-box;
}

body {
  background-image: url("javascript-quiz/assets/img/icecream.jpg");
  background-repeat: repeat;
}

header,
section,
aside {
  background-color: #51291e;
  box-shadow: #301014 0px 10px 10px;
  color: #abd1b5;
}

/* Header container  */
header {
  border-radius: 20px;
  margin: 20px 20px;
  padding: 10px 0px 20px 0px;
  text-align: center;
}

#timer {
  font-size: 28px;
  font-weight: bold;
}

/* Buttons */
button {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #79b791;
  color: #edf4ed;
  transition: all 0.5s ease-in-out;
}

form > button {
  margin-top: 10px;
}

/* Question containers */
section {
  text-align: center;
  border-radius: 8px;
  margin: 40px 20px;
  padding: 30px;
  width: 55vw;
  float: left;
  position: absolute;
}

a {
  background-color: #79b791;
  border-radius: 6px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 6px;
  text-decoration: none;
  margin: 10px 80px 0px 80px;
  color: #edf4ed;
  transition: all 0.5s ease-in-out;
}
button:hover,
a:hover {
  background-color: #edf4ed;
  color: #79b791;
  cursor: pointer;
}

/* High scores  */
aside {
  text-align: center;
  border-radius: 8px;
  margin: 40px 20px;
  padding: 10px;
  width: 35vw;
  float: right;
  font-weight: bold;
  font-size: medium;
  margin-top: 10px;
}

/* Scores */
ul {
  list-style-type: none;
  padding: 0 10px 0 10px;
}

li {
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
  background-color: #79b791;
  color: #edf4ed;
  font-size: 18px;
}
